<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{string.reg.title.registration}"></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="../static/css/userpanel.css" th:href="@{/css/userpanel.css}" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <form th:action="@{/accounts/registration}" th:object="${user}" method="post">
            <h2 class="fadeIn second" th:text="#{string.reg.title.registration}"></h2>
            <label th:for="username">
                <input th:field="*{username}" required type="text" id="username"
                                            class="fadeIn third"
                                            th:placeholder="#{string.reg.placeholder.username}">
            </label>
            <span th:errors="*{username}" class="error fadeIn third"></span>

            <label th:for="email">
                <input th:field="*{email}" required type="email" id="email" class="fadeIn fourth"
                                         th:placeholder="#{string.reg.placeholder.email}">
            </label>
            <span th:errors="*{email}" class="error fadeIn fourth"></span>

            <label th:for="password"><input th:field="*{password}" required type="password" id="password"
                                            class="fadeIn fifth"
                                            th:placeholder="#{string.reg.placeholder.password}">
            </label>
            <span th:errors="*{password}" class="error fadeIn fifth"></span>

            <label th:for="confirmPassword"><input th:field="*{confirmPassword}" required type="password" id="confirmPassword"
                                            class="fadeIn sixth"
                                            th:placeholder="#{string.reg.placeholder.passwordConfirm}">
            </label>
            <span th:errors="*{confirmPassword}" class="error fadeIn sixth"></span>

            <label th:for="age"><input th:field="*{age}" required type="date" id="age"
                                                   class="fadeIn seventh">
            </label>
            <span th:errors="*{age}" class="error fadeIn seventh"></span>

            <input type="submit" class="fadeIn eighth" th:value="#{string.reg.button.registration}">
        </form>
        <div id="formFooter">
            <a class="underlineHover" th:href="@{/accounts/login}" th:text="#{string.login.button.login}"></a></li>
        </div>

    </div>
    <ul id="lang">
        <li><a class="underlineHover" href="?lang=en" th:text="EN"></a></li>
        <li><a class="underlineHover" href="?lang=ua" th:text="UA"></a></li>
    </ul>
</div>
</body>
</html>