<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="username" th:content="${username}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <title>Users</title>
</head>

<body>
<div th:replace="~{index :: nav}"></div>
<table class="table table-striped table-hover">
    <caption>List of TestTypes</caption>
    <thead>
    <tr>
        <td>id</td>
        <td>Test Type</td>
        <td>Status</td>
        <td>URL</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="testType : ${testTypes}">
        <th scope="row" th:text="${testType.getId()}"></th>
        <td th:text="${testType.getTestType()}"></td>
        <td th:text="${testType.getCurrentStatus()}"></td>
        <td th:text="${testType.getTestURL()}"></td>
        <td>
            <form th:if="${testType.getCurrentStatus().name() == 'Active'}"
                  th:action="@{'TestType/delete/' + ${testType.getId()}}" th:method="post">
                <button type="submit" class="btn btn-danger"
                        onclick="return confirm('You sure?')">DELETE
                </button>
            </form>
            <form th:if="${testType.getCurrentStatus().name() == 'Deleted'}"
                  th:action="@{'TestType/activate/' + ${testType.getId()}}" th:method="post">
                <button type="submit" class="btn btn-success"
                        onclick="return confirm('You sure?')">ACTIVATE
                </button>
            </form>
        </td>
        <td>
            <form th:action="@{'TestType/update/' + ${testType.getId()}}" th:method="get">
                <button type="submit" class="btn btn-warning">UPDATE</button>
            </form>
        </td>
    </tr>
    <tbody>
</table>
</body>
</html>