#nav {
    background-color: #4b6fff;
}

*{
    margin : 0;
    padding : 0;
}

h1 {
    text-align: center;
}

#cup {
    height: 375px;
}

#laptop {
    height: 170px;
}

a {
    text-decoration: none;
}

#robot {
    height: 170px;
}

.slideInLeft {
    animation: 1s ease-out 0s 1 slideInFromLeft forwards;
}

.slideInRight {
    animation: 1s ease-out 0s 1 slideInFromRight forwards;
}


@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

@media screen and (max-width: 700px) {
    img { display: none; }
}

.testbtn {
    margin-top: 3rem;
    font-size: 3rem;
}

#logo {
    font-size: 1.4em;
    color: white;
    padding-right: 20px;
    border-right: white solid 3px;
}

#stat {
    height: 25px;
    width:  25px;
    display: inline-block;
}

.item {
    display: inline-block;
    padding: 0;
    margin-left: 10px;
    color:white;
    font-size: 20px;
}

.secblock {
    display: flex;
    background: #e4e4e4;
}

