<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>
    <script type="text/javascript" th:src="@{/js/isPrevGame/Timer.js}"></script>
    <script type="text/javascript" th:src="@{/js/isPrevGame/shapes/Rect.js}"></script>
    <script type="text/javascript" th:src="@{/js/isPrevGame/shapes/Circle.js}"></script>
    <script type="text/javascript" th:src="@{/js/isPrevGame/shapes/Triangle.js}"></script>
    <script type="text/javascript" th:src="@{/js/isPrevGame/shapes/Pentagon.js}"></script>
    <script type="text/javascript" th:src="@{/js/isPrevGame/shapes/Rhombus.js}"></script>
    <script type="text/javascript" th:src="@{/js/isPrevGame/GaussRandom.js}"></script>
    <script type="text/javascript" th:src="@{/js/isPrevGame/buttons/trueButton.js}"></script>
    <script type="text/javascript" th:src="@{/js/isPrevGame/buttons/falseButton.js}"></script>
    <script type="text/javascript" th:src="@{/js/isPrevGame/game.js}"></script>
    <script th:src="@{/js/isPrevGame/main.js}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <title>isPrevGame Game</title>
</head>
<body>
<div th:replace="~{index :: nav}"></div>
<div class="slideInRight row fadeIn secblock">
    <div style=" width: 100vw;" class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div id="canvas"></div>
        </div>
    </div>
    <div style=" width: 100vw;" class="row">
        <div class="col-4"></div>
        <div style="margin:0;padding:0;" id="buttons" class="col-4 d-flex justify-content-around"></div>
        <div class="col-4"></div>
    </div>
</div>
</body>
</html>