<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>
    <script type="text/javascript" th:src="@{/js/isPrevGame/shapes/Rect.js}"></script>
    <script type="text/javascript" th:src="@{/js/isPrevGame/shapes/Circle.js}"></script>
    <script type="text/javascript" th:src="@{/js/isPrevGame/shapes/Triangle.js}"></script>
    <script type="text/javascript" th:src="@{/js/isPrevGame/shapes/Pentagon.js}"></script>
    <script type="text/javascript" th:src="@{/js/isPrevGame/shapes/Rhombus.js}"></script>
    <script type="text/javascript" th:src="@{/js/isPrevGame/GaussRandom.js}"></script>
    <script type="text/javascript" th:src="@{/js/isPrevGame/buttons/trueButton.js}"></script>
    <script type="text/javascript" th:src="@{/js/isPrevGame/buttons/falseButton.js}"></script>
    <script type="text/javascript" th:src="@{/js/isPrevGame/game.js}"></script>
    <script th:src="@{/js/isPrevGame/main.js}"></script>
    <meta charset="UTF-8">
    <title>isPrevGame Game</title>
</head>
<body>
	<div id="canvas" class="row d-flex justify-conent-around" style="position: relative;"></div>
</body>
</html>