<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RepeatSequence</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.dom.js"></script>

    <script th:src="@{/js/repSeqGame/grid.js}"></script>
    <script th:src="@{/js/repSeqGame/game.js}"></script>
    <script th:src="@{/js/repSeqGame/main.js}"></script>
</head>
<body>
<div id="game"></div>
</body>
</html>